.home-container {
  display: flex;
  padding: 20px;
}

.sidebar-container {
  list-style: none;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }
  .sidebar-container {
    width: 100%;
  }
}
